
.form-page {
  display: none;
}
/* Clase para mostrar */
.form-page.active {
  display: block;
}

/* Estilo base del botón */
.boton-add {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; /* Color de fondo del botón */
  color: #fff; /* Color del texto */
  text-decoration: none; /* Eliminar subrayado del enlace */
  border: 1px solid #007bff; /* Borde del botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

/* Estilo cuando el cursor está sobre el botón */
.boton-add:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
  border-color: #0056b3; /* Cambia el color del borde al pasar el ratón */
}

.title {
  font-weight: bold;
}